@import "../common";

.close-container {
  top: $small-space;
  right: $small-space;
}

.back-container {
  top: $small-space;
  left: $small-space;
}

.header-border {
  @extend .border-bottom;
  border-bottom-width: 3px!important;
}