$sm-font-size: 10px;
$md-font-size: 20px;
$bg-font-size: 30px;

// $fontSizes : ($sm-font-size, $md-font-size, $bg-font-size);

// @each $name, $value in $fontSizes {
//   .icon-#{$name} {
//     font-size: $value;
//   }
// }